<!DOCTYPE html>
<html lang="en">
<head>
    <title>Khargosh</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Rabits Injection Center</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            </ul>
            <form class="d-flex" action="/search" method="GET">
                <input class="form-control me-sm-2" type="search" placeholder="Search" name="search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<h1>Fluffy Rabits</h1>
<p>Rabbits, also known as bunnies or bunny rabbits, are small mammals in the family Leporidae (which also contains the hares) of the order Lagomorpha (which also contains the pikas). A male rabbit is called a buck; a female is called a doe. The cool thing is rabits live in a two way hole. An older
    term for an adult rabbit used until the 18th century is coney (derived ultimately from the Latin cuniculus), while rabbit once referred only to the young animals.[2] Another term for a young rabbit is bunny, though this term is often applied informally (particularly by children) to rabbits
    generally, especially domestic ones. More recently, the term kit or kitten has been used to refer to a young rabbit.</p>
<img src="/public/images/rabit.jpg" alt="fluff" class="center">
<br>
<br>
<a href="/feedback" style="color:#87c2e2;">Powerd By bootswatch 2022 </a>