<!DOCTYPE html>
<html lang="en">
<head>
    <title>Khargosh</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
<style>
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<form class="d-flex" action="/login" method="POST">
    <input class="form-control me-sm-2" type="search" placeholder="Email" name="email">
    <input class="form-control me-sm-2" type="search" placeholder="Password" name="password">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Login</button>
</form>

<img src='public/images/law.png' alt='Law' class='center' width="500" height="600">